{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "AAD_TENANT_ID": "00000000-0000-0000-0000-000000000000",
    "AAD_CLIENT_ID": "00000000-0000-0000-0000-000000000000",
    "AAD_CLIENT_SECRET": "<client-secret>",

    "SP_SITE_ID": "<graph-site-id>",
    "SP_LIST_STATE": "WorkbackState",
    "SP_LIST_PERMISSIONS": "WorkbackPermissions",
    "SP_LIST_BACKUPS": "WorkbackBackups"
  }
}
